.slider {
	&-wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;

		.content {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;

			&-info{
				gap: var(--gap-xxs);
				position: absolute;
				left: 2%;
				top: 2%;
				background-color: var(--lights-main-complimentary);
				padding: var(--padding-xxs) var(--padding-xs);
				z-index: 2;
				max-width: 70%;
				border-radius: var(--radius-md);
				display: none;

				& svg{
					color: var(--main-dark-grey);
				}
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}

			.slide {
				width: 100%;
				height: 100%;
				inset: 0;
				position: absolute;

				&--prev {
					animation: slideOut 0.52s cubic-bezier(0.77, 0, 0.18, 1) forwards;
					z-index: 1;
				}

				&--current {
					z-index: 2;

					&.is-animating {
						animation: slideIn 0.52s cubic-bezier(0.77, 0, 0.18, 1) forwards;
					}
				}
			}
		}

		.pagination {
			position: absolute;
			top: unset;
			bottom: 3%;
			z-index: 5;
			// background-color: var(--overlay-white);
			// padding: var(--padding-xs);
			border-radius: var(--radius-md);
			align-self: center;
			// backdrop-filter: blur(4px);

			&-icon {
				padding: var(--padding-xs);
				background-color: var(--main-white);
				transition: 0.2s ease;
				cursor: pointer;

				& svg {
					transition: 0.2s ease;
				}

				&:hover {
					background-color: var(--lights-main-complimentary);

					& svg {
						transform: scale(0.9);
					}
				}

				&:has(~ .pagination-icon.active) {
					&:first-child {
						border-top-left-radius: var(--radius-lg);
						border-bottom-left-radius: var(--radius-lg);
					}
				}

				&:has(+ .pagination-icon.active) {
					border-top-right-radius: var(--radius-lg);
					border-bottom-right-radius: var(--radius-lg);
					margin-right: var(--gap-xxs);
				}

				&:last-child {
					border-top-right-radius: var(--radius-lg);
					border-bottom-right-radius: var(--radius-lg);
				}

				&.active {
					background-color: var(--main-primary);
					color: var(--main-white);
					border-radius: var(--radius-lg);

					&:hover {
						transform: none;
					}

					&+* {
						border-top-left-radius: var(--radius-lg);
						border-bottom-left-radius: var(--radius-lg);
						margin-left: var(--gap-xxs);
					}
				}
			}
		}
	}
}


/* ── Keyframe animations ─────────────────────────────── */
@keyframes slideIn {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}
}