:root {
	--main-primary: #009559;
	--main-secondary: #00845b;
	--main-complimentary: #00f400;
	--main-highlight: #03bf56;
	--main-white: #fefefe;
	--main-black: #111111;
	--main-dark-grey: #797979;
	--main-light-grey: #eeeeee;
	--main-placeholder: #b2b2b2;
	--main-accent: #dff1ea;

	--accents-complimentary: #0673ce;
	--accents-highlight: #dd3406;
	--accents-primary: #c17e03;
	--accents-secondary: #ffdf6f;

	--lights-accents-complimentary: #c2ddf2;
	--lights-accents-highlight: #f4beaf;
	--lights-main-complimentary: #adfbad;
	--lights-main-primary: #addcc9;
	--lights-accents-primary: #ead5ae;
	--lights-accents-secondary: #fef4d0;

	--overlay-black: rgba(17, 17, 17, 0.85);
	--overlay-black-blur: rgba(17, 17, 17, 0.7);
	--overlay-white: rgba(254, 254, 254, 0.8);
	--bx-shadows: rgba(0, 0, 0, 0.18);

	--linear-gradient: linear-gradient(180deg, #666666 0%, #181818 91.41%)
}