.casestudy {

    &-section {
        &-title {
            gap: var(--gap-xxs);
            width: 72%;

            & .t-highlights {
                gap: var(--gap-xxs);

                & svg {
                    width: 20px;
                }
            }
        }

        &-info {
            width: 80%;
        }
    }

    & .hero {
        gap: var(--gap-lg);

        &-title {
            gap: var(--gap-lg);
            width: 72%;

            &-hmw {
                color: var(--main-secondary);

                & svg {
                    position: absolute;
                    width: 100%;
                    bottom: -20%;
                    left: 0;
                    top: unset;
                    z-index: 1;

                    &~* {
                        z-index: 2;
                    }
                }
            }
        }

        &-info {
            background-color: var(--main-light-grey);
            border-radius: var(--radius-lg);
            padding: var(--padding-xs);
            gap: var(--gap-xs);

            &-cover {
                overflow: hidden;
                border-radius: var(--radius-md);
                height: 560px;

                & img {
                    object-fit: cover;
                    object-position: center;
                }
            }

            &-inner {
                gap: var(--gap-xxs);
                border-radius: var(--radius-md);
                width: 100%;
                padding: var(--padding-xl);
                gap: var(--gap-md);
                background-color: var(--main-white);

                &-section {
                    width: 24%;
                    gap: var(--gap-xxs);

                    &:nth-child(1) {
                        width: 18%;
                    }

                    &-highlights {
                        gap: var(--gap-xxs);

                        & svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                & .divider.vertical {
                    height: 90px;
                }
            }
        }

    }

    & .context {
        &-info {
            background-color: var(--main-light-grey);
            border-radius: var(--radius-md);
            padding: var(--padding-xs);


            &-inner {
                background-color: var(--main-white);
                border-radius: var(--radius-sm);
                gap: var(--gap-md);
                padding: var(--padding-lg);
            }

        }
    }

    & .tension {
        &-info {
            width: 100%;

            &-inner {
                gap: var(--gap-xs);

                & .persona {
                    width: 44%;
                    background-color: var(--main-light-grey);
                    padding: var(--padding-lg);
                    border-radius: var(--radius-md);
                    gap: var(--gap-xl);

                    &-hero {
                        gap: var(--gap-xs);

                        &-image {
                            width: 100px;
                            height: 100px;
                            border-radius: var(--radius-xl);
                            overflow: hidden;
                        }

                        &-data {
                            gap: var(--gap-xxs);

                            & .taglabel {
                                padding: var(--padding-xxs) var(--padding-xs);
                                display: inline;
                                width: fit-content;
                                border-radius: var(--radius-xs);
                            }

                            & .namer {
                                gap: var(--gap-xxs);
                            }
                        }
                    }

                    &-bio {
                        gap: var(--gap-md);

                        &-inner {
                            gap: var(--gap-xxs);

                            & .t-highlights {
                                color: var(--main-primary);
                            }
                        }
                    }
                }
            }
        }
    }

}





.tension {
    margin-top: var(--padding-md);

    &-header {
        margin-top: var(--padding-sm);
        margin-bottom: var(--padding-xl);
    }

    &-image {
        width: 55%;
        gap: var(--gap-xs);
    }
}