.casestudy {

    &-section {
        &-title {
            gap: var(--gap-xxs);
        }
    }

    & .hero {
        gap: var(--gap-lg);

        &-title {
            gap: var(--gap-lg);
            width: 72%;

            &-hmw {
                color: var(--main-secondary);

                & svg {
                    position: absolute;
                    width: 100%;
                    bottom: -20%;
                    left: 0;
                    top: unset;
                    z-index: 1;

                    &~* {
                        z-index: 2;
                    }
                }
            }
        }

        &-info {
            background-color: var(--main-light-grey);
            border-radius: var(--radius-lg);
            padding: var(--padding-xs);
            gap: var(--gap-xs);

            &-cover {
                overflow: hidden;
                border-radius: var(--radius-md);
                height: 560px;

                & img {
                    object-fit: cover;
                    object-position: center;
                }
            }

            &-inner {
                gap: var(--gap-xxs);
                border-radius: var(--radius-md);
                width: 100%;
                padding: var(--padding-xl);
                gap: var(--gap-md);
                background-color: var(--main-white);

                &-section {
                    width: 24%;
                    gap: var(--gap-xxs);

                    &:nth-child(1) {
                        width: 18%;
                    }

                    &-highlights {
                        gap: var(--gap-xxs);

                        & svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                & .divider.vertical {
                    height: 90px;
                }
            }
        }

    }

    .context {

        &-info {
            background-color: var(--main-light-grey);
            border-radius: var(--radius-md);
            padding: var(--padding-xs);
            width: 80%;


            &-inner {
                background-color: var(--main-white);
                border-radius: var(--radius-sm);
                gap: var(--gap-md);
                padding: var(--padding-lg);
            }

        }

        &-diagram {
            top: var(--padding-lg);
        }
    }
}





.tension {
    margin-top: var(--padding-md);

    &-header {
        margin-top: var(--padding-sm);
        margin-bottom: var(--padding-xl);
    }

    &-image {
        width: 55%;
        gap: var(--gap-xs);
    }
}