.context {
    margin-top: var(--padding-md);

    &-header {
        margin-top: var(--padding-sm);
    }

    &-box {
        background-color: var(--main-light-grey);
        border-radius: var(--radius-xs);
        margin-top: var(--padding-lg);
        width: 100%;
        height: 50%;
        margin-bottom: var(--padding-lg);

        &-extra {
            background-color: var(--main-white);
            width: 95%;
            height: 50%;
            margin: var(--padding-xs) auto;
            border-radius: var(--radius-xs);
            
            &-par {
                padding: var(--padding-md);
                

                &-1 {
                    padding-top: var(--padding-sm);
                }
            }
        }
    }
}

.flow {
        padding:var(--padding-lg);

        &-row {
            margin-bottom: var(--padding-lg);
            gap: var(--gap-lg);
        }

        &-bottom {
              gap: var(--gap-sm);
        }

    &-container {
        padding:var(--padding-xxs) var(--padding-xl);
        border-radius:  var(--radius-sm);
        color: var(--main-white);
    
    &-start {
        background: #f4d06f;
        color: var(--main-black);
    }
    &-search {
        background: #1e73be;
    }
    &-screenshot {
        background: #c47a00;
    }
    &-result {
        background: #1e73be;
    }
    &-drop {
        background: #e53935;
    }
}

&-arrow {
    width: 100px;
    height: 2px;
    border-top: 2px dashed var(--main-highlight);
    position: relative;


&::after {
    content: ">";
    right: -9px;
    top: -12px;
    position: absolute;
    color: var(--main-highlight);
}
}
}