.hero {
	padding-bottom: var(--padding-lg);

	&-title {
		width: 80%;
		gap: var(--gap-xxs);

		&-role {
			background-color: var(--main-accent);
			color: var(--main-primary);
			padding: var(--padding-xs) var(--padding-lg);
			border-radius: var(--radius-xl);
			gap: var(--gap-3xs);

			& .t-caption {
				font-weight: Bold;
			}
		}

		&-icons {
			display: inline-flex;
			top: 16px;
			padding: 0 var(--padding-xxs);

			& span {
				padding: var(--padding-xxs);
				border-radius: var(--radius-xs);
				box-shadow: -4px 5px 8px var(--bx-shadows);
				cursor: pointer;
				top: 0;
				transition: 0.4s linear;

				&.arrow {
					background-color: var(--accents-highlight);
					color: var(--main-white);
					transform: rotate(-16.78deg);
					left: 14px;
				}

				&.clock {
					background-color: var(--main-complimentary);
					color: var(--main-black);
					z-index: 2;
					transform: rotate(4.94deg);
					left: -3px;
				}

				&.calendar {
					background-color: var(--accents-secondary);
					color: var(--main-black);
					z-index: 3;
					transform: rotate(-6.86deg);
					left: -12px;
				}

				& svg {
					width: 48px;
					height: 48px;
				}
			}
		}

		& h1:hover {
			& .hero-title-icons {
				& span {
					&.arrow {
						top: 4px;
						left: -2px;
					}
					
					&.clock {
						top: -16px;
					}

					&.calendar {
						left: -1px;
					}
				}
			}
		}
	}
}

.hello {
	&-card {
		width: 47%;
		padding: var(--padding-lg) var(--padding-lg) var(--padding-xl);
		background-color: var(--main-light-grey);
		border-radius: var(--radius-md);
		gap: var(--gap-2xl);
		box-shadow: 8px 15px 16px var(--bx-shadows);
		z-index: 3;
		left: 5%;
		top: 16px;
		transform: rotate(-1.81deg);
		transition: 0.6s ease-in-out;
		will-change: transform;

		&:hover {
			transform: rotate(0);
			top: -56px;
		}

		&-title {
			&-content {
				gap: var(--gap-xxs);
			}

			&-image {
				width: 56px;
				height: 56px;
				border-radius: var(--radius-xl);
			}
		}

		&-content {
			gap: var(--gap-lg);

			&-text {
				gap: var(--gap-xs);
			}
		}
	}

	&-showcase {
		width: 40%;
		height: 560px;
		background-color: var(--main-primary);
		padding: var(--padding-lg);
		border-radius: var(--radius-md);
		box-shadow: 8px 15px 16px var(--bx-shadows);
		left: -56px;
		top: -44px;
		transform: rotate(7.75deg) scale(1);
		transition: 0.6s ease-in-out;
		will-change: transform;

		&:hover {
			transform: rotate(4.75deg);
			box-shadow: -6px 15px 24px var(--bx-shadows);

			&~.hello-card {
				transform: rotate(0);
				top: -56px;
			}
		}

		&:has(+ .hello-card:hover) {
			transform: rotate(4.75deg);
			box-shadow: -6px 15px 24px var(--bx-shadows);
		}

		&-image {
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;

			& img {
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}

.philosophy {
	&-card {
		background-color: var(--main-black);
		padding: var(--padding-4xl) var(--padding-3xl);
		border-radius: var(--radius-lg);

		&-glass {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;

			& svg {
				position: absolute;
				top: 0;
				opacity: 0.6;
				left: -32%;
				transform: rotate(-36.46deg);
				animation: bounce 28s ease-out infinite;
				animation-delay: 0s;
				filter: blur(16px);
			}

			&-rect {
				z-index: 1;
				width: 120%;
				height: 140%;
				gap: 0px;

				&-bar {
					width: 20%;
					height: 140%;
					background: var(--overlay-black);
					backdrop-filter: blur(24px);
				}
			}
		}

		&-data {
			gap: var(--gap-4xl);
			z-index: 2;

			&-title {
				gap: var(--gap-xxs);

				& .t-highlights {
					color: var(--main-highlight);
				}
			}

			&-text {
				gap: var(--gap-lg);
				color: var(--main-white);
			}
		}
	}
}

.projects {
	gap: var(--padding-lg);

	&-inner {
		gap: var(--padding-md);

		&-title {
			gap: var(--gap-xs);

			&-down {
				padding-top: var(--padding-xs);
			}
		}
	}
}

.archetype {
	gap: var(--gap-xl);

	&-title {
		width: 64%;
		gap: var(--gap-xxs);
		align-self: center;

		&-highlights {
			color: var(--main-primary);
		}
	}

	&-body {
		gap: var(--gap-xxs);

		&-info {
			gap: var(--gap-xxs);

			&-left {
				border-radius: var(--radius-md);
				padding: var(--padding-2xl) var(--padding-xl) var(--padding-xl);
				background-color: var(--main-light-grey);
				gap: var(--gap-lg);

				&-paragraphs {
					gap: var(--gap-sm);
				}

				&-label {
					gap: var(--gap-xs);

					&-list {
						gap: var(--gap-xxs);

						&-item {
							background-color: var(--main-white);
							color: var(--main-black);
							padding: var(--padding-xxs) var(--padding-xs);
							border-radius: var(--radius-xs);
						}
					}
				}
			}

			&-right {
				border-radius: var(--radius-md);
				height: 100%;
				overflow: hidden;

				&-img {
					width: 100%;
					height: 100%;
					position: absolute;

					& img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				&-navigation {
					position: absolute;
					top: unset;
					bottom: 5%;
					left: 7%;
					background-color: var(--overlay-black);
					padding: var(--padding-xs);
					border-radius: var(--radius-md);
					backdrop-filter: blur(6px);

					&-icon {
						padding: var(--padding-sm);
						background-color: var(--main-white);
						transition: 0.3s linear;
						cursor: pointer;

						&:has(~ .archetype-body-info-right-navigation-icon.active) {
							&:first-child {
								border-top-left-radius: var(--radius-sm);
								border-bottom-left-radius: var(--radius-sm);
							}
						}

						&:has(+ .archetype-body-info-right-navigation-icon.active) {
							border-top-right-radius: var(--radius-sm);
							border-bottom-right-radius: var(--radius-sm);
							margin-right: var(--gap-xxs);
						}

						&:last-child {
							border-top-right-radius: var(--radius-sm);
							border-bottom-right-radius: var(--radius-sm);
						}

						&.active {
							background-color: var(--main-primary);
							color: var(--main-white);
							border-radius: var(--radius-sm);

							&+* {
								border-top-left-radius: var(--radius-sm);
								border-bottom-left-radius: var(--radius-sm);
								margin-left: var(--gap-xxs);
							}
						}
					}
				}
			}
		}

		&-footer {
			background-color: var(--main-light-grey);
			border-radius: var(--radius-md);
			padding: var(--padding-xl) var(--padding-2xl);
			gap: var(--gap-2xl);

			&-card {
				gap: var(--gap-xs);

				& .t-highlights {
					text-transform: unset;
				}
			}

			& .divider {
				height: 80px;
				width: var(--border);
			}
		}
	}
}