.hero{
	padding-bottom: var(--padding-lg);

	&-title{
		width: 80%;
		gap: var(--gap-xxs);

		&-role{
			background-color: var(--main-accent);
			color: var(--main-primary);
			font-weight: Bold;
			padding: var(--padding-xs) var(--padding-lg);
			border-radius: var(--radius-xl);
			gap: var(--gap-3xs);
		}

		&-icons{
			display: inline-flex;
			top: 16px;
			padding: 0 var(--padding-xxs);

			& span{
				padding: var(--padding-xxs);
				border-radius: var(--radius-xs);
				box-shadow: -4px 5px 8px var(--bx-shadows);
				cursor: pointer;
				top: 0;
				transition: 0.2s linear;

				&:hover{
					top: -16px;
				}

				&.arrow {
					background-color: var(--accents-highlight);
					color: var(--main-white);
					transform: rotate(-16.78deg);
					left: 14px;
				}

				&.clock {
					background-color: var(--main-complimentary);
					color: var(--main-black);
					z-index: 2;
					transform: rotate(4.94deg);
					left: -3px;
				}

				&.calendar {
					background-color: var(--accents-secondary);
					color: var(--main-black);
					z-index: 3;
					transform: rotate(-6.86deg);
					left: -12px;
				}

				& svg{
					width: 48px;
					height: 48px;
				}
			}
		}
	}
}

.hello{
	&-card{
		width: 49%;
		padding: var(--padding-lg) var(--padding-lg) var(--padding-xl);
		background-color: var(--main-light-grey);
		border-radius: var(--radius-md);
		gap: var(--gap-3xl);
		box-shadow: 8px 15px 16px var(--bx-shadows);
		z-index: 3;
		left: 5%;
		top: 16px;
		transform: rotate(-1.81deg);
		transition: 0.2s ease-in-out;
		will-change: transform;

		&:hover{
			transform: rotate(0);
			top: -24px;
			// left: 8%;

			& ~ .hello-showcase{
				transform: rotate(3.75deg) scale(0.7);
				z-index: 1;
			}
		}

		&-title{
			&-content{
				gap: var(--gap-xxs);
			}

			&-image{
				width: 56px;
				height: 56px;
				border-radius: var(--radius-xl);
			}
		}

		&-content{
			gap: var(--gap-lg);

			&-text{
				gap: var(--gap-xs);
			}
		}
	}

	&-showcase{
		width: 46%;
		height: 600px;
		background-color: var(--main-primary);
		padding: var(--padding-lg);
		border-radius: var(--radius-md);
		box-shadow: 8px 15px 16px var(--bx-shadows);
		left: -56px;
		top: -44px;
		transform: rotate(7.75deg) scale(1);
		transition: 0.2s ease-in-out;
		will-change: transform;

		&:hover{
			transform: rotate(0);
			z-index: 3;
			// left: -80px;

			& ~ .hello-card{
				transform: rotate(3.75deg) scale(0.7);
				z-index: 1;
			}
		}

		&-image{
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;

			& img{
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}		
	}
}

.philosophy{
	&-card{
		background-color: var(--main-black);
		padding: var(--padding-4xl) var(--padding-3xl);
		border-radius: var(--radius-lg);

		&-glass{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;

			& svg{
				position: absolute;
				top: 0;
				left: -32%;
				transform: rotate(-36.46deg);
				animation: bounce 28s ease-out infinite;
				animation-delay: 0s;
				filter: blur(16px);
			}

			&-rect{
				z-index: 1;
				width: 120%;
				height: 140%;
				gap: 0px;

				&-bar{
					width: 20%;
					height: 140%;
					background: var(--overlay-black);
					backdrop-filter: blur(24px);
				}
			}
		}

		&-data{
			gap: var(--gap-4xl);
			z-index: 2;

			&-title{
				gap: var(--gap-xxs);

				& .t-highlights{
					color: var(--main-highlight);
				}
			}

			&-text{
				gap: var(--gap-lg);
				color: var(--main-white);
			}
		}
	}
}

.projects {
	gap: var(--padding-lg);
	
	&-inner{
		gap: var(--padding-md);

		&-title{
			gap: var(--gap-xs);

			&-down{
				padding-top: var(--padding-xs);
			}
		}
	}	
}

.black {
	width: 100%;
	background-color: var(--main-black);
	height: auto;

	&-text {
		color:var(--main-white);

		&-1 {
			padding: var(--padding-lg);
		}
		&-2 {
			padding: var(--padding-lg);
		}
	}
}

.archetype {
	max-width: 72rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--padding-xl);
	padding-right:var(--padding-xl) ;
	padding-top:var(--padding-lg) ;
	padding-bottom: var(--padding-lg);

	&-div {
		margin-bottom: 48px;
	}

	&-head-text {
		color: var(--main-black);
	}

	&-heading {
		margin-top: 12px;

		&-span {
			color: var(--main-highlight);
		}
	}

	&-left-card {
		border-radius: var(--radius-md);
		padding: var(--padding-lg);
		background-color: var(--main-light-grey);

		&-par {
			color: var(--main-black);
		}

		&-love {
		background-color: var(--main-white);
		color: var(--main-black);
		padding: var(--padding-xxs);
		border-radius: var(--radius-xs);
	}

	}
	
	&-right-card{
		border-radius: var(--radius-md);
		background-color: var(--main-light-grey);
		padding: var(--padding-3xl);

		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-float {
		position: absolute;
		bottom: 16px;
		left: 16px;
		right: 16px;
		background-color: var(--main-white);
		padding: var(--padding-sm);
		border-radius: var(--radius-xl);
		backdrop-filter: blur(16px);

		&-paw {
			background-color: var(--main-primary);
			color: var(--main-white);
			width: 40px;
			height: 40px;
			border-radius: var(--radius-xl);
		}
		&-camera {
			color: var(--main-primary);
			padding: var(--padding-xxs);
		}
	}

	&-footer {
		margin-top: 50px;
		background-color: var(--main-light-grey);
		border-radius: var(--radius-3xl);
		padding: var(--padding-3xl);
		height: auto;
		gap: var(--gap-sm);

		&-divider {
			height: 24px;
			width: 1px;
			background-color: var(--main-black);
			
		}
	}
}