.hero {
	padding-bottom: var(--padding-lg);

	&-title {
		width: 80%;
		gap: var(--gap-xxs);

		&-role {
			background-color: var(--main-accent);
			color: var(--main-primary);
			padding: var(--padding-xs) var(--padding-lg);
			border-radius: var(--radius-xl);
			gap: var(--gap-3xs);

			& .t-caption{
				font-weight: Bold;
			}
		}

		&-icons {
			display: inline-flex;
			top: 16px;
			padding: 0 var(--padding-xxs);

			& span {
				padding: var(--padding-xxs);
				border-radius: var(--radius-xs);
				box-shadow: -4px 5px 8px var(--bx-shadows);
				cursor: pointer;
				top: 0;
				transition: 0.2s linear;

				&:hover {
					top: -16px;
				}

				&.arrow {
					background-color: var(--accents-highlight);
					color: var(--main-white);
					transform: rotate(-16.78deg);
					left: 14px;
				}

				&.clock {
					background-color: var(--main-complimentary);
					color: var(--main-black);
					z-index: 2;
					transform: rotate(4.94deg);
					left: -3px;
				}

				&.calendar {
					background-color: var(--accents-secondary);
					color: var(--main-black);
					z-index: 3;
					transform: rotate(-6.86deg);
					left: -12px;
				}

				& svg {
					width: 48px;
					height: 48px;
				}
			}
		}
	}
}

.hello {
	&-card {
		width: 49%;
		padding: var(--padding-lg) var(--padding-lg) var(--padding-xl);
		background-color: var(--main-light-grey);
		border-radius: var(--radius-md);
		gap: var(--gap-3xl);
		box-shadow: 8px 15px 16px var(--bx-shadows);
		z-index: 3;
		left: 5%;
		top: 16px;
		transform: rotate(-1.81deg);
		transition: 0.2s ease-in-out;
		will-change: transform;

		&:hover {
			transform: rotate(0);
			top: -104px;
		}

		&-title {
			&-content {
				gap: var(--gap-xxs);
			}

			&-image {
				width: 56px;
				height: 56px;
				border-radius: var(--radius-xl);
			}
		}

		&-content {
			gap: var(--gap-lg);

			&-text {
				gap: var(--gap-xs);
			}
		}
	}

	&-showcase {
		width: 46%;
		height: 600px;
		background-color: var(--main-primary);
		padding: var(--padding-lg);
		border-radius: var(--radius-md);
		box-shadow: 8px 15px 16px var(--bx-shadows);
		left: -56px;
		top: -44px;
		transform: rotate(7.75deg) scale(1);
		transition: 0.2s ease-in-out;
		will-change: transform;

		&:hover {
			transform: rotate(0);
			z-index: 3;
			box-shadow: -6px 15px 24px var(--bx-shadows);

			&~.hello-card {
				transform: rotate(3.75deg) scale(0.7);
				z-index: 1;
			}
		}

		&:has(+ .hello-card:hover) {
			transform: rotate(-7.75deg) scale(0.7);
			z-index: 1;
		}

		&-image {
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;

			& img {
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}

.philosophy {
	&-card {
		background-color: var(--main-black);
		padding: var(--padding-4xl) var(--padding-3xl);
		border-radius: var(--radius-lg);

		&-glass {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;

			& svg {
				position: absolute;
				top: 0;
				left: -32%;
				transform: rotate(-36.46deg);
				animation: bounce 28s ease-out infinite;
				animation-delay: 0s;
				filter: blur(16px);
			}

			&-rect {
				z-index: 1;
				width: 120%;
				height: 140%;
				gap: 0px;

				&-bar {
					width: 20%;
					height: 140%;
					background: var(--overlay-black);
					backdrop-filter: blur(24px);
				}
			}
		}

		&-data {
			gap: var(--gap-4xl);
			z-index: 2;

			&-title {
				gap: var(--gap-xxs);

				& .t-highlights {
					color: var(--main-highlight);
				}
			}

			&-text {
				gap: var(--gap-lg);
				color: var(--main-white);
			}
		}
	}
}

.projects {
	gap: var(--padding-lg);

	&-inner {
		gap: var(--padding-md);

		&-title {
			gap: var(--gap-xs);

			&-down {
				padding-top: var(--padding-xs);
			}
		}
	}
}

.black {
	width: 100%;
	background-color: var(--main-black);
	height: auto;
	margin-block: var(--padding-2xl);

	&-text {
		color: var(--main-white);

		&-1 {
			padding: var(--padding-lg);
		}

		&-2 {
			padding: var(--padding-lg);
		}
	}
}

.archetype {

	gap: var(--gap-2xl);

	&-title {
		width: 64%;
		gap: var(--gap-xxs);

		&-highlights {
			color: var(--main-primary);
		}
	}

	&-body {
		gap: var(--gap-xxs);

		&-info {
			gap: var(--gap-xxs);

			&-left {
				border-radius: var(--radius-md);
				padding: var(--padding-2xl) var(--padding-xl) var(--padding-xl);
				background-color: var(--main-light-grey);
				gap: var(--gap-xl);

				&-paragraphs {
					gap: var(--gap-md);
				}

				&-label {
					gap: var(--gap-xs);

					&-list {
						gap: var(--gap-xxs);

						&-item {
							background-color: var(--main-white);
							color: var(--main-black);
							padding: var(--padding-xxs) var(--padding-xs);
							border-radius: var(--radius-xs);
						}
					}
				}
			}

			&-right {
				border-radius: var(--radius-md);
				height: 100%;
				overflow: hidden;

				&-img {
					width: 100%;
					height: 100%;
					position: absolute;

					& img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				&-navigation {
					position: absolute;
					top: unset;
					bottom: 5%;
					left: 7%;
					background-color: var(--overlay-white);
					padding: var(--padding-xs);
					border-radius: var(--radius-md);
					backdrop-filter: blur(4px);

					&-icon {
						padding: var(--padding-sm);
						background-color: var(--main-white);

						&:has(~ .archetype-body-info-right-navigation-icon.active) {
							&:first-child {
								border-top-left-radius: var(--radius-sm);
								border-bottom-left-radius: var(--radius-sm);
							}
						}

						&:has(+ .archetype-body-info-right-navigation-icon.active) {
							border-top-right-radius: var(--radius-sm);
							border-bottom-right-radius: var(--radius-sm);
							margin-right: var(--gap-xxs);
						}

						&:last-child {
							border-top-right-radius: var(--radius-sm);
							border-bottom-right-radius: var(--radius-sm);
						}

						&.active {
							background-color: var(--main-primary);
							color: var(--main-white);
							border-radius: var(--radius-sm);

							&+* {
								border-top-left-radius: var(--radius-sm);
								border-bottom-left-radius: var(--radius-sm);
								margin-left: var(--gap-xxs);
							}
						}
					}
				}
			}
		}

		&-footer {
			background-color: var(--main-light-grey);
			border-radius: var(--radius-md);
			padding: var(--padding-xl) var(--padding-2xl);
			gap: var(--gap-lg);
	}
	
	&-right-card{
		background-color: var(--main-light-grey);
		position: relative;
		border-radius: var(--radius-md);
		overflow: hidden;
}
}
}

.work {
	width: 100%;
	background-color: var(--main-white);
	padding: var(--padding-4xl) var(--padding-sm);

	&-header {
		max-width: 1152px;
		margin: 0 auto ;
		margin-bottom: 48px;

		&-title {
			color: var(--main-black);
			left: 5%;
		}

		&-subtitle {
			color: var(--main-black);
			max-width: 448px;
			margin-top: 8px;
			left: 5%;
		}
	}

	&-list {
		max-width: 1152px;
		margin: 0 auto ;
		padding: var(--padding-md);
		> * + * {
			border-top: 1px solid var(--main-black);
		}
	}

	&-item {
		padding-top: var(--padding-md);
		padding-bottom: var(--padding-md);

		&-info {
			max-width: 576px;
		}

		&-link {
			color: var(--main-black);
		}
	}
}

.archieve {
	max-width: 1152px;
	margin: 0 auto ;
	padding: var(--padding-4xl) var(--padding-sm);

	&-title {
		color: var(--main-black);
		margin-bottom: var(--padding-4xl);
	}

	&-top-card {
		margin-bottom: var(--padding-xs);
		gap: var(--gap-xxs);
	}

	&-card {
		background-color: var(--main-light-grey);
		padding: var(--padding-sm);
		border-radius: var(--radius-md);
		overflow: hidden;
		height: 400px;

		&-text{
			background-color: var(--main-white);
			padding: var(--padding-xxs);
			border-radius: var(--radius-xs);
			max-width: 500px;
		}
	}

	&-list {
		> * + * {
			margin-top: var(--padding-md);
		}

		&-item {
			border-bottom: 1px solid var(--main-black);
			padding-bottom: var(--padding-md);
			gap: var(--gap-xxs);
		}

		&-subitem {
			white-space: nowrap;

			&-par {
				max-width: 576px;
			}
		}
	}

			&-card {
				gap: var(--gap-xs);

				& .t-highlights {
					text-transform: capitalize;
				}
			}

			& .divider {
				height: 80px;
				width: var(--border);
			}
		}

.footer {
	max-width: 1152px;
	margin: 0 auto ;
	padding: var(--padding-2xl) var(--padding-sm);

	&-section {
		background-color: var(--main-black);
		color: var(--main-white);
		border-radius: var(--radius-sm);
		overflow: hidden;
	}

	&-start {
		background-color: var(--main-highlight);
		padding: var(--padding-sm) var(--padding-md);
		gap: var(--gap-xxs);
		margin-top: var(--padding-md);

		&-decor {
			color: var(--main-black);
			font-weight: 50;
		}
	}

	&-content {
		padding: var(--padding-lg) var(--padding-md);
		gap: var(--gap-xxs);

		&-par {
			max-width: 448px;
			color: var(--main-white);
		}
	}

	&-links {
		> * + * {
			margin-top: var(--padding-xxs);
		}

		&-anchor {
			border-bottom: 1px solid var(--main-white);
			padding-bottom: var(--padding-3xs);
		}
	}

	&-end {
		padding: var(--padding-sm) var(--padding-md);
		border-top: 1px solid var(--main-white);
		color: var(--main-white);

		&-ref {
			gap: var(--gap-3xs);
			margin-top: var(--padding-3xs);
		}
	}
}
