.work {
    &-box {
        background-color: var(--main-placeholder);
        border-radius: var(--radius-xs);
        padding: var(--padding-4xl);
    }

    &-gap {
        gap: var(--gap-lg);
    }


}