.project-card {
    background-color: var(--lights-accents-complimentary);
    height: 500px;
    border-radius: var(--radius-md);
    position: relative;

    &-top-shape {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--linear-gradient);
        width: 60%;
        height: 80px;
        border-bottom-left-radius: var(--radius-lg);
        border-bottom-right-radius: var(--radius-lg);

        &-top-shape::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        background: var(--accents-complimentary);
        border-radius: 50%;
       left: -60px;
       top: -40px;
    }

    &-top-shape::after {
      content: "";
      position: absolute;
      width: 120px;
      height: 120px;
      background: var(--accents-complimentary);
      border-radius: 50%;
      right: -60px;
      top: -40px;
}
    }

    &-box-1 {
        position: absolute;
        top: 100px;
        left: 20px;
        background-color: var(--main-complimentary);
        color: var(--main-white);
        padding: 10px 20px;
        border-radius: var(--radius-sm);
    }

    &-title {
        text-align: center;
        margin-top: var(--padding-lg);
        color: var(--main-black);
    }

    &-bottom-shape {
        background-color: var(--main-white);
        color: var(--main-black);
        padding: var(--padding-md);
        border-radius: var(--radius-sm);
        width: 80px;
    }
}

.project-card {
    background-color: var(--lights-accents-highlights);
    height: 500px;
    border-radius: var(--radius-md);
    position: relative;

    &-top-shape {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--linear-gradient);
        width: 60%;
        height: 80px;
        border-bottom-left-radius: var(--radius-lg);
        border-bottom-right-radius: var(--radius-lg);

        &-top-shape::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        background: var(--accents-complimentary);
        border-radius: 50%;
       left: -60px;
       top: -40px;
    }

    &-top-shape::after {
      content: "";
      position: absolute;
      width: 120px;
      height: 120px;
      background: var(--accents-complimentary);
      border-radius: 50%;
      right: -60px;
      top: -40px;
}
    }

    &-box-1 {
        position: absolute;
        top: 100px;
        left: 20px;
        background-color: var(--main-complimentary);
        color: var(--main-white);
        padding: 10px 20px;
        border-radius: var(--radius-sm);
    }

    &-title {
        text-align: center;
        margin-top: var(--padding-lg);
        color: var(--main-black);
    }

    &-bottom-shape {
        background-color: var(--main-white);
        color: var(--main-black);
        padding: var(--padding-md);
        border-radius: var(--radius-sm);
        width: 80px;
    }
}

.project-card {
    background-color: var(--lights-main-complimentary);
    height: 500px;
    border-radius: var(--radius-md);
    position: relative;

    &-top-shape {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--linear-gradient);
        width: 60%;
        height: 80px;
        border-bottom-left-radius: var(--radius-lg);
        border-bottom-right-radius: var(--radius-lg);

        &-top-shape::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        background: var(--accents-complimentary);
        border-radius: 50%;
       left: -60px;
       top: -40px;
    }

    &-top-shape::after {
      content: "";
      position: absolute;
      width: 120px;
      height: 120px;
      background: var(--accents-complimentary);
      border-radius: 50%;
      right: -60px;
      top: -40px;
}
    }

    &-box-1 {
        position: absolute;
        top: 100px;
        left: 20px;
        background-color: var(--main-complimentary);
        color: var(--main-white);
        padding: 10px 20px;
        border-radius: var(--radius-sm);
    }

    &-title {
        text-align: center;
        margin-top: var(--padding-lg);
        color: var(--main-black);
    }

    &-bottom-shape {
        background-color: var(--main-white);
        color: var(--main-black);
        padding: var(--padding-md);
        border-radius: var(--radius-sm);
        width: 80px;
    }
}