@use "../../assets/styles/tokens/spacings";
@use "../../assets/styles/tokens/colors";
@use "../../assets/styles/mixins/spacings" as *;

.project {

    &-image {
        border-radius: var(--radius-sm);
        overflow: hidden;
        height: 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            transition: 0.6s;
        }
    }

    &-details {
        padding: var(--padding-xs) 0;
        gap: var(--gap-4xl);

        &-labels {
            gap: var(--gap-xxs);

            & span {
                background-color: var(--lights-main-complimentary);
                padding: var(--padding-xxs) var(--padding-xs);
                border-radius: var(--radius-xs);
                display: inline-block;
                width: fit-content;

                &:last-child {
                    background-color: var(--lights-accents-primary);
                }
            }
        }

        &-text {
            gap: var(--gap-md);

            &-holder {
                gap: var(--gap-xxs);
            }
        }
    }

    &.long {
        gap: var(--gap-md);
        background-color: var(--main-light-grey);
        border-radius: var(--radius-md);
        @include p(var(--padding-xs), var(--padding-lg), var(--padding-xs), var(--padding-xs));

        &:hover {
            & .project {
                &-image {
                    & img {
                        object-position: -30% 0%;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    &.playful {
        & .project {
            &-image {
                position: absolute;
                top: 20px;
                left: 50%;
                transition: 0.6s ease-in-out;
                width: 90%;
                height: auto;
                transform: translateX(-50%);
                border-radius: var(--radius-sm);
                overflow: hidden;
            }

            &-card {
                border-radius: var(--radius-md);
                padding: var(--padding-xs);
                min-height: 464px;
                gap: var(--gap-xl);
                padding-top: var(--padding-xl);
                clip-path: path("M0,40 Q0, 0 40, 0 L80, 0 Q100, 0 112, 40 Q8, 6 116, 40 L270, 40 Q280, 40 290, 20 Q300, 0 320, 0 L440, 0 Q480, 0 480, 40 L480, 560 Q480, 560 0, 560 Z");
                transition: 0.6s ease-in-out;
                top: 0;

                &.blue {
                    background: var(--lights-accents-primary);
                }

                &.beige {
                    background: var(--lights-accents-complimentary);
                }

                &.green {
                    background-color: var(--lights-main-primary);
                }

                &-label {
                    background-color: var(--main-accent);
                    border-radius: var(--radius-xs);
                    padding: var(--padding-xxs) var(--padding-xs);
                    display: inline;
                    width: fit-content;
                    flex: 0;
                }

                &-details {
                    gap: var(--gap-xs);
                    padding: var(--padding-none);

                    &-title {
                        padding: 0 var(--padding-xs);
                    }

                    &-hmw {
                        background-color: var(--main-white);
                        border-radius: var(--radius-sm);
                        padding: var(--padding-xs);
                    }
                }
            }
        }

        &:hover {
            & .project {
                &-image {
                    top: -15%;
                }

                &-card {
                    top: 50px;
                }
            }
        }
    }
}