@use "../tokens/breakpoints" as *;

// -----------------------
// Media Query Mixin
// -----------------------

@mixin respond-to($type) {
	@if $type == mobile {
		@media (max-width: $mobile-max) {
			@content;
		}
	}

	@else if $type == tablet {
		@media (
			min-width: $tablet-min
		) and (
			max-width: $tablet-max
		) {
			@content;
		}
	}

	@else if $type == tablet-up {
		@media (min-width: $tablet-min) {
			@content;
		}
	}

	@else if $type == desktop {
		@media (min-width: $desktop-min) {
			@content;
		}
	}

	@else if $type == desktop-lg {
		@media (min-width: $desktop-lg-min) {
			@content;
		}
	}

	@else {
		@warn "Breakpoint `#{$type}` not found.";
	}
}
