@use '../tokens/breakpoints' as *;
@use '../tokens/font-sizes' as fs;

@font-face {
	font-family: "Primary";
	src: local("Delight"),
	url("/src/assets/fonts/Delight.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
}

:root {
	--font-size: fs.rem(map-get(fs.$font-sizes, t-copy));
	--font-family: "Primary";
	--font-weight-headings: 600;
	--font-weight-semi-headings: 500;
	--font-weight-highlights: Bold;
	--font-weight-paragraphs: Regular;
}

// Headings
@mixin s0 {
	font-weight: var(--font-weight-headings);
	line-height: 100%;
	font-size: fs.rem(map-get(fs.$font-sizes, s0));
}

@mixin s1 {
	font-weight: var(--font-weight-headings);
	line-height: 100%;
	font-size: fs.rem(map-get(fs.$font-sizes, s1));
}

@mixin s2 {
	font-weight: var(--font-weight-headings);
	line-height: 140%;
	font-size: fs.rem(map-get(fs.$font-sizes, s2));
}

@mixin h1 {
	font-weight: var(--font-weight-headings);
	line-height: 130%;
	font-size: fs.rem(map-get(fs.$font-sizes, h1));
}

@mixin h2 {
	font-weight: var(--font-weight-headings);
	line-height: 130%;
	font-size: fs.rem(map-get(fs.$font-sizes, h2));
}

@mixin h3 {
	font-weight: var(--font-weight-semi-headings);
	line-height: 150%;
	font-size: fs.rem(map-get(fs.$font-sizes, h3));
}

@mixin h4 {
	font-weight: var(--font-weight-headings);
	line-height: 110%;
	font-size: fs.rem(map-get(fs.$font-sizes, h4));
}

@mixin h5 {
	font-weight: var(--font-weight-headings);
	line-height: 120%;
	font-size: fs.rem(map-get(fs.$font-sizes, h5));
}

@mixin h6 {
	font-weight: var(--font-weight-headings);
	line-height: 150%;
	font-size: fs.rem(map-get(fs.$font-sizes, h6));
}

// -----------------------
// Copy / Body Text
// -----------------------

@mixin t-copy {
	font-weight: var(--font-weight-paragraphs);
	line-height: 190%;
	font-size: fs.rem(map-get(fs.$font-sizes, t-copy));
}

@mixin t-copy-small {
	font-weight: var(--font-weight-paragraphs);
	line-height: 170%;
	font-size: fs.rem(map-get(fs.$font-sizes, t-copy-small));
}

@mixin t-caption {
	font-weight: var(--font-weight-paragraphs);
	line-height: 160%;
	font-size: fs.rem(map-get(fs.$font-sizes, t-caption));
}

@mixin t-highlights {
	font-weight: var(--font-weight-highlights);
	line-height: 130%;
	font-size: fs.rem(map-get(fs.$font-sizes, t-highlights));
	text-transform: uppercase;
}

// -----------------------
// Buttons / Links
// -----------------------

@mixin t-buttons {
	font-weight: var(--font-weight-highlights) !important;
	line-height: 180%;
	font-size: fs.rem(map-get(fs.$font-sizes, t-buttons));
}

@mixin t-links {
	font-weight: 500;
	line-height: 180%;
	font-size: fs.rem(map-get(fs.$font-sizes, t-links));
}
