.linkcard {
    width: 25%;
    height: 324px;
    border-radius: var(--radius-md);
    padding: var(--padding-xs);
    gap: var(--gap-xxs);
    overflow: hidden;
    box-shadow: 8px 15px 16px var(--bx-shadows);

    &:nth-child(1) {
        background-color: var(--main-light-grey);

        & a {
            color: var(--main-primary) !important;
        }
    }

    &:nth-child(2) {
        background-color: var(--lights-accents-complimentary);

        & a {
            color: var(--accents-complimentary) !important;
        }
    }

    &:nth-child(3) {
        background-color: var(--lights-accents-secondary);

        & a {
            color: var(--accents-primary) !important;
        }
    }

    &-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: var(--radius-sm);
        overflow: hidden;

        & img {
            object-position: 0px -72px;
        }
    }

    &-details {
        gap: var(--gap-2xs);
        padding-inline: var(--padding-xxs);
        padding-bottom: var(--);
    }


}