.footer {
    overflow: hidden;
    padding: var(--padding-2xl) var(--padding-2xl) var(--padding-md);
    gap: var(--gap-lg);

    &-top {
        width: 100%;
        gap: var(--gap-lg);

        &-title {
            gap: var(--gap-xs);
            text-align: center;
            width: 50%;

            &-arrow {
                position: absolute;
                top: 20%;
                left: unset;
                right: 7%;
            }

            &-highlights {
                color: var(--main-primary);
            }

            &-star {
                position: absolute;
                width: 20px;
                height: 20px;
                left: 106%;
                top: 2%;
            }

            &-marker {
                position: absolute;
                left: 0;
                top: 84%;
                width: 100%;
            }

            & p{
                width: 80%;
            }
        }

    }

    &-copyright {
        background-color: var(--main-black);
        color: var(--main-white);
        padding: var(--padding-md);
        border-radius: var(--radius-md);
        gap: var(--gap-md);
        width: 100%;

        &-divider {
            height: var(--border);
            width: 24px;
            background-color: var(--main-white) !important;
        }

        &-links {
            gap: var(--gap-xs);

            a {
                gap: var(--gap-xs);
                align-items: center;
                justify-content: center;
            }
        }

        &-star{
            left: 16%;
            width: 48px;
            height: 48px
        }
    }
}