@use "mixins/type";
@use "tokens/colors";
@use "tokens/spacings";
@use "tokens/breakpoints";

@use "pages/home";

@use "global";

*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	list-style: none;
	//-moz-user-select: none;
	//-ms-user-select: none;
	//-webkit-user-select: none;
	//user-select: none;
	//cursor: none !important;
}

video,
img,
svg,
canvas {
	pointer-events: none;
	object-fit: cover;
}

::-webkit-scrollbar {
	width: 5px;
	height: 0;
}

::-webkit-scrollbar-track {
	background: var(--main-light-grey);
}

::-webkit-scrollbar-thumb {
	background: var(--main-primary);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--main-highlight);
}

::-moz-selection { /* Code for Firefox */
	color: var(--main-white);
	background: var(--main-primary);
}

::selection {
	color: var(--main-white);
	background: var(--main-primary);
}

#root, html, body {
	font-size: var(--font-size);
	font-family: var(--font-family), sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	min-height: 100vh;
	height: 100%;
	background-color: var(--main-accent);
	color: var(--main-black);
	max-width: var(--responsiveness-container-width);
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

#root{
	background-color: var(--main-white);
	position: relative;
}

.s0{
	@include type.s0
}

.s1{
	@include type.s1;
}

.s2{
	@include type.s2;
}

.h1 {
	@include type.h1;
}

.h2 {
	@include type.h2;
}

.h3 {
	@include type.h3;
}

.h4 {
	@include type.h4;
}

.h5 {
	@include type.h5;
}

.h6 {
	@include type.h6;
}

.t-copy {
	@include type.t-copy;
}

.t-copy-small {
	@include type.t-copy-small;
}

.t-caption {
	@include type.t-caption;
}

.t-highlights {
	@include type.t-highlights;
}

.t-buttons {
	@include type.t-buttons;
}

.t-links {
	@include type.t-links;
}

.t-error{
	color: var(--accents-highlight);
	font-style: italic;
}

.t-pending{
	color: var(--accents-primary);
}

.t-disabled{
	color: var(--main-dark-grey);
}

.divider {
	background-color: var(--main-black);
	height: var(--border);
	border-radius: var(--radius-lg);
}